<div class="footer">
    <img class="logoFooter" src="https://github.com/MunchiP/ImagenesBiblio/blob/main/logo.png?raw=true">

    <div class="infomacion">
        <p> <strong> Direccion : </strong>  Diagonal 16 N° 20-41</p>
        <p> <strong> Telefono : </strong>  321 366 32 95 </p>
        <p> <strong> Correo : </strong> biblioduitama@gmail.com </p>
    </div>

    <div class="horario">
        <p> <strong> Lunes : </strong> 8am - 12pm / 2pm - 6pm</p>
        <p> <strong> Martes - Viernes : </strong>   9am - 12pm / 2pm - 6pm </p>
        <p> <strong> Sábado :  </strong> 9am - 1pm  </p>
    </div>

    <div class="redesSociales">
        <a> <img class="redesSociales" src="https://github.com/MunchiP/ImagenesBiblio/blob/main/Face.png?raw=true"> </a>
        <a> <img class="redesSociales" src="https://github.com/MunchiP/ImagenesBiblio/blob/main/Insta.png?raw=true"> </a>
        <a> <img class="redesSociales" src="https://github.com/MunchiP/ImagenesBiblio/blob/main/Youtu.png?raw=true"> </a>
    </div>
</div>