

<h2 class="title"> Contáctanos </h2>

<hr class="line1">

<div class="container">
    
        <!-- <mat-icon class="icon">contact_mail</mat-icon> -->
        <img class="imag1" src="https://github.com/MunchiP/ImagenesBiblio/blob/main/Biblio_entrada.jpg?raw=true">
        <p>  ¿Necesitas ayuda? Puedes llamar a la biblioteca en horario laboral y realizar tu pregunta
            acerca de tu cernet de biblioteca, actividades o cualquier servicio que ofrecemos.
            En caso de tener alguna otra duda o necesida también puedes escribirnos.  </p>
        
        <p><strong> Teléfono móvil y Whatsapp : </strong>  +57 312 366 32 95 
        <br>
        <strong> Email : </strong>  biblioduitama@duitama-boyaca.gov.co 
         <br>
         biblioduitama@gmail.com</p>
    
</div>
<hr class="line">

<app-boton (click)="regresar()"> </app-boton>