

<div class="box">
    <img class="portada" src="https://raw.githubusercontent.com/MunchiP/ImagenesBiblio/3c351f45d00f4b1fe7f3a5cdec12bee621bdbfd4/WhatsApp%20Image%202023-01-21%20at%202.57.24%20PM.jpeg"> 
    <img class="portada"  src="https://raw.githubusercontent.com/MunchiP/ImagenesBiblio/3c351f45d00f4b1fe7f3a5cdec12bee621bdbfd4/WhatsApp%20Image%202023-01-21%20at%202.57.26%20PM.jpeg"> 
    <img class="portada"  src="https://raw.githubusercontent.com/MunchiP/ImagenesBiblio/3c351f45d00f4b1fe7f3a5cdec12bee621bdbfd4/WhatsApp%20Image%202023-01-21%20at%203.00.39%20PM.jpeg"> 
</div>

<hr class="line">

<h1 class="titulo"> Nuestros eventos </h1>

<!-- 
<mat-card class="card">
    <mat-card-header class="face face1">
        <mat-card-title class="content"> Actividad 1 </mat-card-title>
    </mat-card-header>
    <mat-card-content class="face face2">
        <div class="content">
            <p>Aqui esta expuesto el contenido de la actividad n 1</p>
        </div>
    </mat-card-content>
</mat-card> -->

<div class="container">
    <div class="card">
        <div class="face face1">
            <div class="content">
                <mat-icon class="img">slideshow</mat-icon>
               <h3>Cine foro</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Aqui esta expuesto el contenido de la actividad n 1</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="face face1">
            <div class="content">
               <mat-icon class="img">child_care</mat-icon>
               <h3>Taller de lectura infantil</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Aqui esta expuesto el contenido de la actividad n 1</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="face face1">
            <div class="content">
                <mat-icon class="img">library_books</mat-icon>
               <h3>Club de lectura</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Aqui esta expuesto el contenido de la actividad n 1</p>
            </div>
        </div>
    </div>
</div>

<hr class="line1">

<h1 class="titulo2"> Nuestros eventos </h1>

<div class="contenido2">
    <div class="PrimeraInfancia">
        <img class="redondo" src="https://scontent-bog1-1.xx.fbcdn.net/v/t39.30808-6/286576222_323734913283488_247017469408256455_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=730e14&_nc_ohc=2OftI9pei0UAX-0V4Tt&_nc_ht=scontent-bog1-1.xx&oh=00_AfAP7fZWGQPb0SQJef9OnoxMRQTDlns6aGT1Q0Oesd3nUw&oe=63CFDC37">
        <p>Primera Infancia</p>
    </div>
    
    <div class="AulaVirtual">
        <img class="redondo" src="https://scontent-bog1-1.xx.fbcdn.net/v/t39.30808-6/275119463_259682233022090_5332729535803892529_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=a26aad&_nc_ohc=XDWOGWjvYcUAX9lmV10&_nc_ht=scontent-bog1-1.xx&oh=00_AfCm8HMlvArC-KqJclRs551nnk7fUqWQbv-hzIshxa4uXw&oe=63CFC0EE">
        <p> Aula Virtual</p>
    </div>
    
    <div class="Inclusion">
        <img class="redondo" src="https://scontent-bog1-1.xx.fbcdn.net/v/t39.30808-6/306144026_387077463615899_3451494114253254637_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=a26aad&_nc_ohc=ti9vhKZnDNMAX9YNBMh&_nc_ht=scontent-bog1-1.xx&oh=00_AfARWA97gdZYUxZxjYMGuz-ouZARr-vnSktxkeltUuhZgQ&oe=63CFBB53">
        <p> Inclusion</p>
    </div>
</div>