<h1 class="title"> Biblioteca Pública Municipal Zenón Solano Ricaurte </h1>
<hr class="line1">

<div class="container">
        <div class="contenedor">

            <div class="content">
                <button  mat-button routerLink="Historia">
                    <mat-icon class="emoji"> menu_book </mat-icon>
                </button >
                <p> Historia </p>
            </div>
            
            <div class="content">
                <button  mat-button routerLink="Informacion">
                    <mat-icon class="emoji"> co_present </mat-icon>
                </button >
                <p> Información </p>
            </div>
            
            <div class="content n2">
                <button  mat-button routerLink="RedesSociales" >
                    <mat-icon class="emoji">recommend</mat-icon> 
                </button>
                <p> Redes Sociales </p>
            </div>
            
            <div  class="content">
                <button mat-button routerLink="Contacto">
                    <mat-icon class="emoji"> diversity_3 </mat-icon>
                </button>
                <p> Contáctanos </p>
            </div>
        
        </div>

                
        <div class="img">
            <img  src="https://raw.githubusercontent.com/MunchiP/ImagenesBiblio/3c351f45d00f4b1fe7f3a5cdec12bee621bdbfd4/WhatsApp%20Image%202023-01-21%20at%203.00.42%20PM.jpeg"> 
        </div>
</div>

<hr class="line">



<app-boton  routerLink=""> </app-boton>

<!-- 
<div class="content n0">
    <button  mat-button routerLink="Historia">
        <mat-icon class="emoji"> menu_book </mat-icon>
    </button >
    <p> Historia </p>
</div>

<div class="content n1">
    <button  mat-button routerLink="Informacion">
        <mat-icon class="emoji"> co_present </mat-icon>
    </button >
    <p> Información </p>
</div>

<div class="content n2">
    <button  mat-button routerLink="RedesSociales" >
        <mat-icon class="emoji">recommend</mat-icon> 
    </button>
    <p> Redes Sociales </p>
</div>

<div  class="content n3">
    <button mat-button routerLink="Contacto">
        <mat-icon class="emoji"> diversity_3 </mat-icon>
    </button>
    <p> Contáctanos </p>
</div> -->