<h1 class="title"> Mi cuenta en la Biblioteca </h1>
<hr class="line1">

<div class="contenedor">

    <div class="option1">
        <img src="https://raw.githubusercontent.com/MunchiP/ImagenesBiblio/8ed4b43759fd7c6b6c370ca3deabb31424658257/MVIMG_20180810_103528225.jpg"> 
        <p routerLink="Login" > Antiguo </p>
    </div>

    <div class="option2">
        <img src="https://raw.githubusercontent.com/MunchiP/ImagenesBiblio/8ed4b43759fd7c6b6c370ca3deabb31424658257/IMG_20181108_161253776_HDR.jpg">
        <p routerLink="Nuevo"> Nuevo </p>
    </div>

</div>

<hr class="line">

<app-boton (click)="regresar()"> </app-boton>