<!-- 

<mat-toolbar class="menuclass">
    <img class="imaClass" src="https://scontent-bog1-1.xx.fbcdn.net/v/t39.30808-6/305772115_151978404189411_5353342511957747925_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=OMPyRpSDmYEAX85YVCu&_nc_oc=AQkPZ8kAk9rrRO34UsaRZ5MbswBkrU8D4pzNdOmn8jdDi0pz2qy1t_0WLvcjKm21sdORi_cvh2ZdxFtrmzmOvj46&_nc_ht=scontent-bog1-1.xx&oh=00_AfCSfupobCP6ZCLRBwWIDdb_H0Em-4Qawtbxtk8zwJbpDw&oe=63CC7147">
    <div class="opcionesMenu">
<br>
        <a mat-button routerLink=''> <mat-icon class="iconClass">local_library</mat-icon> </a> 
        <a mat-button routerLink="Usuario" > Usuario </a>
        <a mat-button routerLink="Catalogo" > Catálogo </a>
        <a mat-button routerLink="Servicio" > Servicio </a>
        <a mat-button routerLink="Redes" > Redes </a>
        <a mat-button routerLink="QuienesSomos" > Quienes somos </a>
    </div>
</mat-toolbar> -->

<mat-toolbar class="menuclass1">
    <img class="imaClass1" src="https://github.com/MunchiP/ImagenesBiblio/blob/main/LogoGreen.png?raw=true">
    <div class="opcionesMenu1">
<br>
        <a mat-button routerLink=''> <mat-icon class="iconClass1">local_library</mat-icon> </a> 
        <a mat-button routerLink="Usuario" > Mi cuenta </a>
        <a mat-button routerLink="Catalogo" > Catálogo </a>
        <a mat-button routerLink="Servicio" > Espacios </a>
        <a mat-button routerLink="Redes" > Redes </a>
        <a mat-button routerLink="QuienesSomos" > Quienes somos </a>
        <a mat-button routerLink="Juegos" > Juegos </a>
    </div>
</mat-toolbar>


