<h2 class="title"> Conócenos </h2>
<hr class="line1">

<p id="intro"> 
   <strong>
    Somos la Biblioteca Pública Municipal de la ciudad de Duitama, adscrita a las redes 
    nacional y departamental de Bibliotecas Públicas del país.
   </strong> 
</p>
<div class="content">
    <h1 > Misión </h1>
    <p> La Biblioteca Pública Municipal Zenón Solano Ricaurte de Duitama, asume la responsabilidad social de fomentar el desarrollo cultural de la comunidad de la provincia del Tundama, permitiendo a los usuarios el libre acceso y difusión de la información por medio de la promoción de lectura y escritura.
        Buscamos formar usuarios críticos e independientes, integrando el uso de las TIC al proceso lector, ofreciendo así diversos servicios que logren la satisfacción de los usuarios y contribuyan al mejoramiento de la calidad de vida de la comunidad en general.
    </p>
</div>

<div class="content">
    <p> La Biblioteca Pública Municipal Zenón Solano Ricaurte de Duitama será el centro cultural líder de la provincia del Tundama, facilitando el acceso de los usuarios a materiales bibliográficos de excelente calidad e integrando el uso de las TIC a sus actividades, incrementando la participación de la ciudadanía en la cultura, logrando así la satisfacción y credibilidad de nuestros usuarios por medio de la excelencia y el mejoramiento continuo en la prestación de nuestros servicios. </p>
    <h1 > Visión </h1>
</div>
<hr class="line">
<app-boton (click)="regresar()"> </app-boton>