<h1 class="title"> Historia de la Biblioteca </h1>
<hr class="line1">

<div class="contenedor">
    <img class="imag1" src="https://raw.githubusercontent.com/MunchiP/ImagenesBiblio/d0fd53b6b3cc5d26932b05b608082f31d18a6165/IMG_6043.JPG">
    <p>
        Los libros han tenido un espacio en la ciudad de Duitama antes de la creación por Acuerdo de la Biblioteca Pública. 
        La primera persona en consolidar un espacio para los libros fue Zenón Solano Ricaurte quien, al retorno de su exilio 
         aproximadamente en 1841, establece un colegio y dona su biblioteca personal con 1500 ejemplares, para dicha primera 
        consolidación. Con el tiempo, esta donación fue cambiando de locaciones en la ciudad y sobreviviendo al paso de los años. 
        <br>
    </p>
</div>

<div class="contenedor">
    <p>
        Muchos años después, la Biblioteca Nacional lidera un proyecto llamado Biblioteca Aldeana en el que, a nivel nacional, 
        rescatan a pequeñas y medianas bibliotecas denominándolas así: Bibliotecas Aldeanas, allí se tiene registro que la Biblioteca 
        de Duitama enviaba sus reportes con nombre de Biblioteca Popular de Duitama y para entonces, 1936, el bibliotecario era Eduardo Mariño, según registros.
        <br>
        <br>
        Se tiene conocimiento que bibliotecarias futuras fueron : Constanza Peñaranda; Gloria Inés Chaparro, Myriam Leguizamón y desde
        la creación por Acuerdo el bibliotecario ha sido Jorge E. Ruíz.
    </p>  
    <img class="imag2" src="https://raw.githubusercontent.com/MunchiP/ImagenesBiblio/9d74dd20e1c605ef204469c5d9dda7887a5cc487/PopularDuitama.jpg">
</div>
  

<h1 class="title"> Acuerdo </h1>
<hr class="line">
<div class="contenedor">
        <h4 class="n1">
            Es 6 de junio de 1997 que se firma el Acuerdo 010 en donde el Concejo Municipal de la ciudad de Duitama crea la Biblioteca Pública Municipal y acuerda que:
        </h4>
    
        <p id="n2">
           <strong> Artículo Primero: </strong>  Crearse la Biblioteca Pública Municipal como dependencia adscrita al INSTITUTO DE CULTURA Y BELLAS ARTES DE DUITAMA “CULTURAMA”
            <br>
            <br>
            <strong> Artículo Segundo: </strong>  La Biblioteca Pública Municipal llevará el nombre ZENÓN SOLANO RICAURTE en Honor al Fundador de la Primera Biblioteca del Municipio.
            <br>
            <br>
            <strong>  Artículo Tercero: </strong>  EL INSTITUTO DE CULTURA Y TURISMO DE DUITAMA “CULTURAMA” incorporará a su patrimonio y organización, al igual que sustituirá en sus derechos y obligaciones a la Biblioteca Pública Municipal ZENÓN SOLANO RICAURTE.
            <br>
            <br>
            <strong> Artículo Cuarto: </strong>  Para el mantenimiento y dotación de la Biblioteca Pública Municipal ZENÓN SOLANO RICAURTE, se destinará el 10% de los recursos provenientes de los Ingresos Corrientes de la Nación del porcentaje que corresponde al sector DEPORTE Y CULTURA.
            <br>
            <br>
            <strong> Artículo Quinto: </strong>   El patrimonio de la Biblioteca Pública Municipal ZENÓN SOLANO RICAURTE, estará integrado por los siguientes recursos: 
            <br>
            <br>
            <strong> <strong> a. </strong> </strong> 	Por los bienes muebles e inmuebles que a cualquier título obtenga
            <br>
            <strong> <strong> b. </strong> </strong> 	Por las donaciones y auxilios oficiales y privados que se ordenen a su favor
            <br>
            <strong> <strong> c. </strong> </strong> 	Por las apropiaciones anuales que se destinen en el Presupuesto Municipal para su funcionamiento
            <br>
            <strong> <strong> d. </strong> </strong> 	El inventario actual de la biblioteca formará parte de su patrimonio.
        </p>
</div>

<div class="contenedor">
    <img class="logo1" src="https://raw.githubusercontent.com/MunchiP/ImagenesBiblio/8873ac3834f14d5a5fac6971b4a50f8a3ab6b95e/Zenon_Negro.png">
    <img class="logo1" src="https://raw.githubusercontent.com/MunchiP/ImagenesBiblio/8873ac3834f14d5a5fac6971b4a50f8a3ab6b95e/LogoCulturama.png">    
</div>



<hr class="line">

<app-boton (click)="regresar()"> </app-boton>