<h1 class="title"> Nuestras redes sociales oficiales </h1>
<hr class="line1">

<div class="cards">
    <mat-card class="card n1" >
        <mat-card-header>
            <mat-card-title>
                Facebook 
                <mat-card-subtitle> Síguenos </mat-card-subtitle>
            </mat-card-title>
        </mat-card-header>
        <a href="https://www.facebook.com/ZenonSolanoRicaurte"> 
            <img class="imga" src="https://raw.githubusercontent.com/MunchiP/ImagenesBiblio/0ef1ca83176dba90872e35626ef4f4c1ed970b7b/Biblio_face.jpeg"> 
        </a> 
        <mat-card-content>
    
        </mat-card-content>
    </mat-card>
    
    <mat-card class="card n2">
        <mat-card-header>
            <mat-card-title>
                Facebook Fan Page
                <mat-card-subtitle> Síguenos </mat-card-subtitle>
            </mat-card-title>
        </mat-card-header>
        <a href="https://www.facebook.com/Bibliotecazenonsolanoricaurte">
            <img class="imga" src="https://raw.githubusercontent.com/MunchiP/ImagenesBiblio/0ef1ca83176dba90872e35626ef4f4c1ed970b7b/Biblio_fan.jpeg"> 
        </a>
        <mat-card-content>
    
        </mat-card-content>
    
    </mat-card>
    
    <mat-card class="card n3">
        <mat-card-header>
            <mat-card-title>
                Instagram
                <mat-card-subtitle> Síguenos </mat-card-subtitle>
            </mat-card-title>
        </mat-card-header>
        <a href="https://instagram.com/bibliotecazenonsolanoduitama?igshid=YWJhMjlhZTc=">
            <img class="imga" src="https://raw.githubusercontent.com/MunchiP/ImagenesBiblio/0ef1ca83176dba90872e35626ef4f4c1ed970b7b/Biblio_instagram.jpeg"> 
        </a>
            <mat-card-content>
    
        </mat-card-content>
    
    </mat-card>
    
    <mat-card class="card n4">
        <mat-card-header>
            <mat-card-title>
                Youtube
                <mat-card-subtitle> Síguenos </mat-card-subtitle>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <a href="https://www.youtube.com/@bibliotecapublicamunicipal4310">
            <img class="imga" src="https://raw.githubusercontent.com/MunchiP/ImagenesBiblio/0ef1ca83176dba90872e35626ef4f4c1ed970b7b/Biblio_youtube.jpeg"> 
        </a>
        </mat-card-content>
    </mat-card>

    <mat-card class="card n5">
        <mat-card-header>
            <mat-card-title>
                Whatsapp
                <mat-card-subtitle> Escríbenos </mat-card-subtitle>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <a href="https://www.facebook.com/ZenonSolanoRicaurte"> 
                <img class="imga m1" src="https://github.com/MunchiP/ImagenesBiblio/blob/main/WappContact.png?raw=true"> 
            </a>    
        </mat-card-content>
    </mat-card>
</div>
<hr class="line">
<app-boton (click)="regresar()"> </app-boton>