<h1 class="title"> Espacios de la Biblioteca </h1>
<hr class="line1">

<h3 class="title2"> Espacios internos </h3>
<hr class="line3">
<div class="cards">
    <mat-card class="card" >
        <mat-card-header>
            <mat-card-title> <strong> Sala A </strong>  </mat-card-title>
            <mat-card-subtitle> Sala de lectura </mat-card-subtitle>  
        </mat-card-header>
            
            <mat-card-content>
                <img class="imga" src="https://github.com/MunchiP/ImagenesBiblio/blob/main/Sala_A.jpg?raw=true"> 
                <p>  Sala especializada en literatura con los géneros de novela, poesía cuento, teatro, crónica, 
                    ensayo y la hemeroteca. También se encuentra la sala de literatura infantil y la juvenil. 
                    En este mismo espacio se realizan los eventos culturales como las conferencia, recitales, 
                    conversatorios, talleres y cine foros.</p>     
            </mat-card-content>
    </mat-card>

    <mat-card class="card" >
        <mat-card-header>
            <mat-card-title> <strong> Sala B</strong> </mat-card-title>
            <mat-card-subtitle> Sala de lectura </mat-card-subtitle> 
        </mat-card-header>
       
        <mat-card-content>
            <img class="imga" src="https://github.com/MunchiP/ImagenesBiblio/blob/main/Sala_B.jpg?raw=true"> 
                <p> Sala de conocimientos en general, catalogada con el Sistema de Clasificación Decimal Dewey. 
                    En este espacio también se encuentra la sala virtual con el préstamo de computadores y 
                    tabletas y capacitaciones en informática. </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-header>
            <mat-card-title> <strong> Biblio infantíl </strong>  </mat-card-title>
            <mat-card-subtitle> Sala de lectura para infantes </mat-card-subtitle>
        </mat-card-header>
       
            <mat-card-content> 
                <img class="imga" src="https://github.com/MunchiP/ImagenesBiblio/blob/main/Sala_Infantil.jpg?raw=true"> 
            <p>
                Disponibilidad de la colección infantil para todas las edades desde primera infancia a niños 
                y niñas de 11 años, allí mismo se realiza el club de lectura infantil.
            </p>
            </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-header>
            <mat-card-title> <strong> Sordo-ciegos </strong>  </mat-card-title>
            <mat-card-subtitle> Inclusión </mat-card-subtitle>
        </mat-card-header>
       
        <mat-card-content>
            <img class="imga" src="https://raw.githubusercontent.com/MunchiP/ImagenesBiblio/73211109c9b85cfada7113df0d1e0ff5ffe53fc2/IMG_6020.jpg"> 
            <p>
                La Biblioteca cuenta con el espacio y materiales para la comunidad sordociega. 
                Para el uso y capacitación en este espacio deben comunicarse con la oficina de 
                Programas Sociales que son los encargados de hacer la atención a esta población. 
            </p>
        </mat-card-content>
    
    </mat-card>

    <mat-card class="card">
        <mat-card-header>
            <mat-card-title> <strong> Aula virtual </strong>  </mat-card-title>
            <mat-card-subtitle> Conectividad </mat-card-subtitle>
        </mat-card-header>
       
            <mat-card-content>
                <img class="imga" src="https://github.com/MunchiP/ImagenesBiblio/blob/main/Aula_Virtual.JPG?raw=true"> 
               <p>La biblioteca cuenta con la dotación de "Computadores para Educar" al servicio de los usuarios. 
                Se hace prestamos interno del material y uso de internet.</p>
            </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-header>
            <mat-card-title> <strong> Espacio abierto  </strong> </mat-card-title>
            <mat-card-subtitle> Sala de prestamo </mat-card-subtitle>
        </mat-card-header>
       
            <mat-card-content>
                <img class="imga" src="https://raw.githubusercontent.com/MunchiP/ImagenesBiblio/73211109c9b85cfada7113df0d1e0ff5ffe53fc2/Letrero_Biblio.jpg"> 
                <p>La biblioteca es un espacio abierto para todo tipo de arte e idea que quiera ser compartida. 
                    Te invitamos a acercarte a la biblioteca, hablar con el bibliotecario y solicitar el espacio para expresar tu idea, 
                    proyecto o clubes.
                    <br> No existe ninguna restricción de edad. 
                    <br> ¡Anímate!</p>
            </mat-card-content>
    </mat-card>

</div>

<h3 class="title"> Espacios externos </h3>
<hr class="line">

<div class="cards">
    <mat-card class="card" >
        <mat-card-header>
            <mat-card-title> <strong> Hakuna Matata </strong>  </mat-card-title>
            <mat-card-subtitle> Primera Infancia </mat-card-subtitle>
        </mat-card-header>
      
            <mat-card-content>
                <img class="imga" src="https://raw.githubusercontent.com/MunchiP/ImagenesBiblio/3c351f45d00f4b1fe7f3a5cdec12bee621bdbfd4/WhatsApp%20Image%202023-01-21%20at%202.57.26%20PM.jpeg"> 
                <p>
                    Es un espacio exclusivo para la primera infancia, de 0 a 6 años, 
                    se requiere que el usuario esté acompañado de un adulto responsable, 
                    de manera permanente para la utilización de la sala. 
                </p>
                <p>
                    El horario de la sala es de lunes a viernes de 8 a 12 y de 2 a 6
                </p>
            </mat-card-content>
    </mat-card>
    
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title> <strong> Biblio movil  </strong> </mat-card-title>
            <mat-card-subtitle> Biblioteca externa Gabriel Garcia Marquez </mat-card-subtitle>
        </mat-card-header>

            <mat-card-content>
                <img class="imga" src="https://github.com/MunchiP/ImagenesBiblio/blob/main/WhatsApp%20Image%202023-01-21%20at%203.00.45%20PM%20(4).jpeg?raw=true"> 
                <p> La biblioteca se acerca a la comunidad con la Biblioteca Móvil Gabriel García Márquez, 
                    la finalidad es hacer promoción de lectura en diferentes espacios fuera de la biblioteca 
                    como parques, plazas, colegios, conjuntos residenciales, veredas, etcétera. Para solicitar 
                    este servicio te invitamos a acercarte a la Biblioteca, solicitar el formato y agendar la Biblio Móvil.</p>
            </mat-card-content>
    </mat-card>
</div>


<hr class="line">

<app-boton (click)="regresar()"> </app-boton>