<h1 class="title"> ¿Cómo ser un usuario de la Biblioteca?  </h1>
<hr class="line1">

<div class="contenedor">

    <p> Cualquier persona que desee ser un usuario de la biblioteca debe contar con la siguiente información </p>

    <ol>
        <li> Documento de identidad personal </li>
        <li>  El documento debe estar vigente </li>
        <li> El documento NO debe ser una fotocopia </li>
        <li> Acercarse con esta información a la biblioteca y solicitarle al bibliotecario municipal el ingreso al sistema </li>
    </ol>

</div>

<img src=""> 

<hr class="line">

<app-boton (click)="regresar()"></app-boton> 