.title{
    font-size: 30px;
    text-align: center;
}

.line{
    height: 5px;
    background: greenyellow;
    border: none;
    width: 900px;
    margin-top: 4rem;
}

.contenedor{
    margin-left: 10%;
    margin-top: 3rem;
}

.line1{
    height: 5px;
    background: #f9b208;
    border: none;
    width: 900px;
}